In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

- How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [4]:
list(df.race.value_counts())

[27816, 3124, 1039, 311, 271]

- What is the average age of men?

In [41]:
BM = df.sex == "Male"
round(df[BM].age.mean(), 1)

39.4

- What is the percentage of people who have a Bachelor's degree?

In [42]:
BM = df.education == "Bachelors"
round(df[BM].shape[0] / df.shape[0] * 100, 1)

16.4

- What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [46]:
BM_edu = (df.education == "Bachelors") | (df.education == "Masters") | (df.education == "Doctorate")
BM_sal = df.salary == ">50K"

round(df[BM_edu & BM_sal].shape[0] / df[BM_edu].shape[0] * 100, 1)

46.5

- What percentage of people without advanced education make more than 50K?

In [48]:
round(df[(~BM_edu) & BM_sal].shape[0] / df[~BM_edu].shape[0] * 100, 1)

17.4

- What is the minimum number of hours a person works per week?

In [51]:
df["hours-per-week"].min()

1

 
- What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [54]:
BM_hrs = (df["hours-per-week"] == 1)
df[BM_hrs & BM_sal].shape[0] / df[BM_hrs].shape[0] * 100

10.0

- What country has the highest percentage of people that earn >50K and what is that percentage?

In [69]:
high_earn_pct = df[BM_sal].groupby(["native-country"])["salary"].count() / df.groupby(["native-country"])["salary"].count()
high_earn_pct = high_earn_pct.sort_values(ascending=False)
high_earn_pct.index[0]

'Iran'

In [75]:
round(high_earn_pct.iloc[0] * 100, 1)

41.9

- Identify the most popular occupation for those who earn >50K in India.

In [79]:
BM_ind = df["native-country"] == "India"
ind_prof = df[BM_ind & BM_sal].occupation.value_counts()
ind_prof.index[0]

'Prof-specialty'